<a href="https://colab.research.google.com/github/sstankala/scratch_pad/blob/python/python/ints_and_floats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_int_1 = 56
my_int_2 = -4

print(type(my_int_1))
print(type(my_int_2))

sum_int = my_int_1 + my_int_2
print('Integer Addition is', sum_int)

substract_int = my_int_1 - my_int_2
print('Though we are trying to subtract, why this is adding up?, brush up your math if you think this is wrong...-:)))', substract_int)

<class 'int'>
<class 'int'>
Integer Addition is 52
Though we are trying to subtract, why this is adding up?, brush up your math if you think this is wrong...-:))) 60

In [ ]:
my_int_1 = 99
my_int_2 = 4

# Multiplication
product_ints = my_int_1 * my_int_2
print('Integer Multiplication:', product_ints)

Integer Multiplication: 396

In [ ]:
my_int_1 = 56
my_int_2 = 12

# Division
div_ints = my_int_1 / my_int_2
print('Integer Division:', div_ints)

Integer Division: 4.666666666666667

In [ ]:
my_float_1 = -12.0
my_float_2 = 4.9

print(type(my_float_1))
print(type(my_float_2))

<class 'float'>
<class 'float'>

In [ ]:
my_float_1 = 5.4
my_float_2 = 12.0

float_addition = my_float_1 + my_float_2
print('Float Addition:', float_addition)

Float Addition: 17.4

In [ ]:
my_float_1 = 5.4
my_float_2 = 12.0

float_subtraction = my_float_2 - my_float_1
print('Float Subtraction:', float_subtraction)

Float Subtraction: 6.6

In [ ]:
my_float_1 = 5.4
my_float_2 = 12.0

float_multiplication = my_float_2 * my_float_1
print('Float Multiplication:', float_multiplication)

Float Multiplication: 64.80000000000001

In [ ]:
my_float_1 = 5.4
my_float_2 = 12.0

float_division = my_float_2 / my_float_1
print('Float Division:', float_division)

Float Division: 2.222222222222222

In [ ]:
my_int = 56
my_float = 5.4

sum_int_and_float = my_int + my_float

print(sum_int_and_float)
print(type(sum_int_and_float))

61.4
<class 'float'>

In [ ]:
my_int_1 = 56
my_int_2 = 12

my_float_1 = 5.4
my_float_2 = 12.0

mod_ints = my_int_1 % my_int_2
mod_floats = my_float_2 % my_float_1

print('Integer Modulus:', mod_ints)
print('Float Modulus:', mod_floats)

Integer Modulus: 8
Float Modulus: 1.1999999999999993

In [ ]:
my_int_1 = 56
my_int_2 = 12

my_float_1 = 5.4
my_float_2 = 12.0

floor_div_ints = my_int_1 // my_int_2
floor_div_floats = my_float_2 // my_float_1

print('Integer Floor Division:', floor_div_ints)
print('Float Floor Division:', floor_div_floats)

Integer Floor Division: 4
Float Floor Division: 2.0

In [ ]:
my_int_1 = 10
my_int_2 = 3

my_float_1 = 100.01
my_float_2 = 2

exp_ints = my_int_1 ** my_int_2
exp_floats = my_float_1 ** my_float_2

print('Integer Exponentiation:', exp_ints)
print('Float Exponentiation:',  exp_floats)

Integer Exponentiation: 1000
Float Exponentiation: 10002.000100000001

In [ ]:
my_int_1 = 56
my_float_1 = float(my_int_1)

print(my_float_1)
print(type(my_float_1))

56.0
<class 'float'>

In [ ]:
my_float = 12.92563
my_int = int(my_float)

print(my_int)
print(type(my_int))

12
<class 'int'>

In [ ]:
my_str_int = '45'
my_str_float = '7.8'

converted_int = int(my_str_int)
converted_float = float(my_str_float)

print(converted_int, type(converted_int))
print(converted_float, type(converted_float))

45 <class 'int'>
7.8 <class 'float'>

In [ ]:
my_int_1 = 4.798
my_int_2 = 4.2666

rounded_int_1 = round(my_int_1)
rounded_int_2 = round(my_int_2, 3)

print(rounded_int_1)
print(rounded_int_2)

5
4.267

In [ ]:
float_num = -15.2

absolute_value = abs(float_num)
print(absolute_value)

15.2

In [ ]:
my_int = 56

binary_representation = bin(my_int)
print(binary_representation)

octal_representation = oct(my_int)
print(octal_representation)

hex_representation = hex(my_int)
print(hex_representation)

0b111000
0o70
0x38

In [ ]:
result_1 = pow(5, 3)
print(result_1)

result_2 = pow(5, 3, 5)
print(result_2)

125
0