<a href="https://colab.research.google.com/github/sstankala/scratch_pad/blob/python/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
spam_amount = 0
print(spam_amount)

0

In [ ]:
# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)
spam_amount = spam_amount + 4
print(spam_amount)
print('spam_amount is type of',type(spam_amount))

12
spam_amount is type of <class 'int'>

In [ ]:
print("You've successfully run some Python code")
print("Congratulations!")

You've successfully run some Python code
Congratulations!

In [ ]:
print("My favorite colors are", "red", "blue")

My favorite colors are red blue

In [ ]:
my_set_var = {7, 5, 8}
print('Set:', my_set_var)

Set: {8, 5, 7}

In [ ]:
my_dictionary_var = {'name': 'John Doe', 'age': 28}
print(my_dictionary_var)

{'name': 'John Doe', 'age': 28}

In [ ]:
my_list_var = [7, 5, 8]
print('List:', my_list_var)
# Now we can change a value in this list
my_list_var[0] = 1
print('List:', my_list_var)

Tuple: (7, 5, 8)

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_range_var = range(10)
print(my_range_var)

range(0, 10)

In [ ]:
my_list = [22, 'Hello world', 3.14, True]
print(my_list)
my_list[0]=99
print(my_list)

my_list.append(1000)
print(my_list)
isinstance(my_list,list)

[22, 'Hello world', 3.14, True]
[99, 'Hello world', 3.14, True]
[99, 'Hello world', 3.14, True, 1000]

True

In [ ]:
def greet_a_friend(name: str, age: int) -> str:
    return f'Hello, {name}, age {age}.'

user_name: str = 'John Doe'
user_age: int = 24

print(greet_a_friend(user_name, user_age))

Hello, John Doe, age 24.

In [ ]:
my_str = 'Hello world'
print(my_str[::-1])

my_str = 'Hello world'
print(my_str[0:11:3])

dlrow olleH
Hlwl

In [ ]:
name = 'John Doe'
age = 26
name_and_age = f'My name is {name} and I am {age} years old'
print(name_and_age)

My name is John Doe and I am 26 years old